* {
    font-family: 'Consolas';
}
body {
    background: black;
}
.container {
    margin: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    font-size: 25px;
}
.container1 {
    display: flex;
    white-space: nowrap;
    gap: 5px;
    color: white;
}
.output {
    border-bottom: 1px solid;
    width: 100%;
    overflow: hidden;
}
.output2 {
    border-bottom: 1px solid;
    width: 100%;
    overflow: hidden;
    animation: anmt 1s linear forwards;
}
@keyframes anmt {
    from {
        width: 0;
    }
}
button {
    outline: none;
    border: 3px solid rgb(148, 85, 2);
    background: rgb(238, 177, 8);
    border-radius: 25px;
    color: white;
    padding: 5.5px;
    font-size: medium;
    cursor: pointer;
}
button:hover {
    filter: brightness(0.9);
}
button:active {
    transform: scale(0.9);
}
input {
    outline: none;
    border: 3px solid rgb(148, 85, 2);
    background: rgb(238, 177, 8);
    border-radius: 25px;
    color: white;
    padding: 5.5px;
    font-size: medium;
}
